<font size = 5><b>Hands-on Activity 6.1 Introduction to Data Analysis and Tools</b></font>

 <b>CPE311 Computational Thinking with Python</b>
 <br>
 Name: Anduque, Kurt Gabriel
 <br>
 Section: CPE22S3
 <br>
 Performed on: 04/05/2005
 <br>
 Submitted on: 04/05/2005
 <br>
 Submitted to: Engr. Roman M. Richard

<font size =5><b> 6.1 Intended Learning Outcome</b></font>

1. Use pandas and numpy data analysis tools.
2. Demonstrate how to analyze data using numpy and pandas

<font size =5><b>6.2 Resources:</b></font>

- Personal Computer
- Jupyter Notebook
- Internet Connection

<font size = 5><b>6.3 Supplementary Activities:</b></font>

 <font size = 6><b>Exercise 1</b></font>
 <br>
 Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [42]:
import random
import statistics
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
 standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
 obtained when using the statistics module (where possible):
 - Mean
 - Median
 - Mode 
 - Sample variance
 - Sample standard deviation
<br>
(hint: check out the Counter in the collections module of the standard library at
<a href="url">https://docs.python.org/3/library/collections.html#collections.Counter</a>

<font size = 4><b>FINDING MEAN</b></font>

In [216]:
# MEAN without statistics import
print(f'mean: {sum(salaries)/len(salaries)} ')

mean: 585690.0

In [214]:
# MEAN with statistics import
print(f'mean: {statistics.mean(salaries)}')

mean: 585690.0

<font size = 4><b>FINDING MEDIAN</b></font>

In [210]:
#MEDIAN if not using module

# since the n of salaries is 100 or even we must use the formula ((n/2) + (n/2)+1)/2)
# additionally we always minus 1 since indexing starts at 0
pos50 = salaries[int(len(salaries)/2) - 1]
pos51 = salaries[int((len(salaries)/2) + 1) - 1]

median = (pos50 + pos51)/2
print(f'median: {median}')

median: 589000.0

In [208]:
# median if using the statistics module
print(f'median: {statistics.median(salaries)}')

median: 589000.0

<font size = 4><b>FINDING MODE</b></font>

In [175]:
# MODE without using statistics import
import collections

collections.Counter(salaries).most_common(1)
# since we are only concerned with the value of the most common
# we will use indexing since its a tuple inside the list.

[(477000.0, 3)]

In [204]:
print(f'mode: {collections.Counter(salaries).most_common(1)[0][0]}')
# base on the output they are the same

mode: 477000.0

In [202]:
# MODE with statistics import
print(f'mode: {statistics.mode(salaries)}')

mode: 477000.0

<font size = 4><b>Sample variance</b></font>

<font size = 3><b>FORMULA FOR Sample variance</b></font>

<img src = "samplevariance.png" style ="width:350px;height:224px">

In [254]:
# SAMPLE VARIANCE without statistics import
# Calculate the mean
# every data minus mean
# square every data - mean
# sum the recent list
# divide by n - 1

def findmean(salaries):
    mean = sum(salaries)/len(salaries)
    return mean

def data_minus_mean(salaries):
    new_list = []
    mean = findmean(salaries)
    
    for salary in salaries:
        new_list.append(salary - mean)

    return new_list

def square_data(salaries):
    datas = data_minus_mean(salaries)
    square_list = []
    for data in datas:
        square_list.append(data**2)

    return square_list
    
def calculate_variance(salaries):
    summation = sum(square_data(salaries))
    variance = summation/(len(salaries) - 1)

    return variance
    
calc_variance = calculate_variance(salaries)
print(f'variance: {calc_variance}')

variance: 70664054444.44444

In [256]:
# SAMPLE VARIANCE with statistics import
print(f'variance: {statistics.variance(salaries)}')

variance: 70664054444.44444

<font size = 4><b>FINDING Sample standard deviation</b></font>

In [224]:
# Sample standard deviation without statistics import

# in the standard deviation we are only doing the squareroot of the variance
# since we already find the variance recently we are just  going to use it again
variance = calc_variance
standard_deviation = variance**0.5
print(f'standard deviation: {standard_deviation}')

standard deviation: 265827.11382484

In [222]:
# Sample standard deviation with statistics import
print(f'standard deviation: {statistics.stdev(salaries)}')

standard deviation: 265827.11382484

 <font size = 6><b>Exercise 2</b></font>
 <br>
 Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:

In [246]:
import random
import statistics
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

- Range
- Coefficient of variation
- Interquartile range
- Quartile coefficient of dispersion

<font size = 4><b>FINDING RANGE</b></font>

In [250]:
# range fomula  = max(x) - min(x)

rangef = max(salaries) - min(salaries)
print(f'range: {rangef}')

range: 995000.0

<font size =4><b>FINDING Coefficient of variation</b></font>

In [298]:
# Coefficient of variation formula = (standard deviation / Sample mean) * 100

standard_deviation = statistics.stdev(salaries)
salary_mean = statistics.mean(salaries)

Coe_var = (standard_deviation / salary_mean) * 100
print(f'Coefficient of variation: {Coe_var}')

Coefficient of variation: 45.38699889443903

<font size = 4><b>FINDING Interquartile range</b></font>

In [291]:
quartiles = statistics.quantiles(salaries, n = 4, method = 'inclusive')
quartiles
# here we notice that in the method we use the inclusive instead of exclusive
# since we want to include the first data and the last data in our calculation
# we can also observe that the output is in list type so we need to create 3 variable to get each data

[403500.0, 589000.0, 816750.0]

In [293]:
quart1,quart2,quart3 = statistics.quantiles(salaries, n = 4, method = 'inclusive')
IQR = quart3 - quart1
print(f'Interquartile range: {IQR}')

Interquartile range: 413250.0

<font size = 4><b>Quartile coefficient of dispersion</b></font>

In [304]:
# Formula for Quartile coefficient of dispersion = (Q1 - Q3)/(Q1 + Q3)

quart1,quart2,quart3 = statistics.quantiles(salaries, n = 4, method = 'inclusive')
QCD = (quart3 - quart1)/(quart1 + quart3)
print(f'Quartile coefficient of dispersion: {QCD}')

Quartile coefficient of dispersion: 0.338660110633067

 <font size = 6><b>Exercise 3: Pandas for Data Analysis</b></font>
 <br>
 Load the diabetes.csv file. Convert the diabetes.csv into dataframe

Perform the following tasks in the diabetes dataframe:
- Identify the column names
- Identify the data types of the data
- Display the total number of records
- Display the first 20 records
- Display the last 20 records
- Change the Outcome column to Diagnosis
- Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
- Create a new dataframe "withDiabetes" that gathers data with diabetes
- Create a new dataframe "noDiabetes" thats gathers data with no diabetes
- Create a new dataframe "Pedia" that gathers data with age 0 to 19
- Create a new dataframe "Adult" that gathers data with age greater than 19
- Use numpy to get the average age and glucose value.
- Use numpy to get the median age and glucose value.
- Use numpy to get the middle values of glucose and age.
- Use numpy to get the standard deviation of the skinthickness.

In [512]:
import pandas as pd
import numpy as np

df = pd.read_csv('diabetes.csv')

In [514]:
# Identify the column names
# to check for the columns we need to use the columns pandas function
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [516]:
# Identify the column names
# here we use the dtypes function for us to identify the datatype of every columns
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [518]:
# Display the total number of records
# since we are only concerned with the rows since we want to know the total number of record
# when we are using the shape function the output will be (rows, columns)
# we use indexing to get the rows only
df.shape[0]

768

In [520]:
# Display the first 20 records
# the head function is used to get the first five data in our dataframe
# sincce we are  tasked to get the first 20 record instead of 5 we make it 20
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [522]:
# Display the last 20 records
# same as the head instead of 5 we insert 20 to get then last 20 records
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [524]:
# Change the Outcome column to Diagnosis
# when we want to change the name of the specific column of our dataframe
# we use the rename fucntion then followed by columns in the dictionary format {'name of column' : 'name to change'}
df = df.rename(columns = {'Outcome':'Diagnosis'})
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [526]:
# Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
# to create another column named classification I use a list comprehension wherein I implement some condition
# using the Diagnosis condition if the data is 1 I will insert Diabetes and if the data is 0 I will insert No diabetes
df['Classification'] = ["Diabetes" if x == 1 else "No Diabetes" for x in df['Diagnosis']]

In [400]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [528]:
# Create a new dataframe "withDiabetes" that gathers data with diabetes
# here we create a new dataframe where we only gathered the rows from our original dataframe that has a diabetes in the column Classification
withDiabetes = df[df['Classification'] == 'Diabetes']

In [406]:
withDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes

In [530]:
# Create a new dataframe "noDiabetes" thats gathers data with no diabetes
# we create a new data frame that has a No Diabetes in their classification column
noDiabetes = df[df['Classification'] == 'No Diabetes']

In [410]:
noDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes

In [422]:
# Create a new dataframe "Pedia" that gathers data with age 0 to 19
Pedia = df[df['Age'] <= 19]

In [424]:
Pedia.head()

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

In [428]:
# Create a new dataframe "Adult" that gathers data with age greater than 19

Adult = df[df['Age'] > 19]

In [430]:
Adult.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [532]:
# Use numpy to get the average age and glucose value.
# The first thing I do is to sort the value in ascending order before creating statistical analysis
df.sort_values(['Age','Glucose'], ascending = [True,True], inplace = True)

#in this task using the numpy we get the average of column Age and Glucose in our dataframe
average_sugar = np.average(df[['Age','Glucose']],axis = 0)
print(average_sugar)

[ 33.24088542 120.89453125]

In [534]:
# Using the pandas function we verify if the answers are the same
df[['Age','Glucose']].mean()

Age         33.240885
Glucose    120.894531
dtype: float64

In [536]:
# Use numpy to get the median age and glucose value.
#using the numpy module we get the middle value or the median of the columns Age and Glucose
median_sugar = np.median(df[['Age','Glucose']],axis = 0)
print(median_sugar)

[ 29. 117.]

In [546]:
# Using the pandas function we verify if the answers are the same
df[['Age','Glucose']].median()

Age         29.0
Glucose    117.0
dtype: float64

In [540]:
# # Use numpy to get the middle values of glucose and age.
# Using the numpy module we get the Middle value of the columns Glucose and Age
# since we use the median function now I tried to do the 50 percentile to check for the middle  value
middle_val = np.quantile(df[['Glucose','Age']],0.5,axis = 0)
middle_val

array([117.,  29.])

In [544]:
# Using the pandas function we verify if the answers are the same
df[['Glucose','Age']].quantile(0.5)

Glucose    117.0
Age         29.0
Name: 0.5, dtype: float64

In [506]:
# Use numpy to get the standard deviation of the skinthickness.

# using the numpy module I tried to get the
stdev = np.std(df['SkinThickness'])
stdev

15.941828626496989

<font size = 6><b> 6.4 Conclusion</b> </font>

Throughout this activity, I have learned about the different methods of data analysis and the different tools used for analysis. I used a variety of Python modules, including pandas, numpy, and statistics, but first learned how to perform analysis without them. I consider it a major plus that the modules speed up working because one need not spend time building one's own function for a specific statistic. The statistics module is very handy when dealing with different types of statistical analysis, while its Syntax is very simple. I can state that Python Pandandas is a flexible and very powerful module for dataframe analysis due to its large collection of data/file analysis methods. During this exercise, I applied quite a number of those methods to create dataframes, to access and modify dataframes, and to do statistical analysis with the help of the numpy module.